footer {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 16px 32px;
    height: 30px;
    width: calc(100%-"64px");
    border-top: 1px solid var(--text);
}
#saved-logics {
    flex-grow: 1;
    display: flex;
    overflow: scroll;
}
.logic {
    margin: 4px;
    background: var(--accent);
    border-radius: 5px;
    padding: 8px 16px;
    color: white;
}
.fa-trash {
    padding-left: 4px;
}